<header class="header">
  <div class="container header-container">
    <nav class="nav-menu">
      <a href="" class="nav-menu-logo"
        ><svg class="logo-menu" width="107" height="30">
          <use href="/img/icons/icons.svg#logo"></use>
        </svg>
      </a>
      <div class="nav-menu-pc">
        <ul class="nav-menu-list">
          <li class="nav-menu-item">
            <a href="#artists" class="nav-menu-link">Artists</a>
          </li>
          <li class="nav-menu-item">
            <a href="#about-us" class="nav-menu-link">About Us</a>
          </li>
          <li class="nav-menu-item">
            <a href="#reviews" class="nav-menu-link">Reviews</a>
          </li>
        </ul>
      </div>
      <button name="mobile-menu" type="button" class="btn-menu js-open-menu">
        <svg class="btn-menu-icon" width="24" height="24">
          <use href="/img/icons/icons.svg#burger"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
