<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="container mobile-menu-container">
    <div class="header-mob-menu">
      <a href="" class="nav-menu-logo"
        ><svg class="logo-menu" width="107" height="30">
          <use href="/img/icons/icons.svg#logo"></use>
        </svg>
      </a>
      <button type="button" class="mob-menu-close-btn js-close-menu">
        <svg class="mob-menu-close-icon" width="24" height="24">
          <use href="/img/icons/icons.svg#close"></use>
        </svg>
      </button>
    </div>
    <nav class="nav-mob-menu">
      <ul class="mob-menu-list">
        <li class="mob-menu-item">
          <a href="#artists" class="mob-menu-link">Artists</a>
        </li>
        <li class="mob-menu-item">
          <a href="#about-us" class="mob-menu-link">About Us</a>
        </li>
        <li class="mob-menu-item">
          <a href="#reviews" class="mob-menu-link">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
